<alm-hotel-filter-section>
  <div class="title" [almExpand]="true" #searchFilter="almExpand">
    <alm-icon icon="search"></alm-icon>
    Nombre del hotel
  </div>
  <alm-hotel-filter-search [expanded]="searchFilter.expanded" (search)="setSearch($event)"></alm-hotel-filter-search>
</alm-hotel-filter-section>
<alm-hotel-filter-section>
  <div class="title" [almExpand]="true" #starsFilter="almExpand">
    <alm-icon icon="star"></alm-icon>
    Estrellas
  </div>
  <alm-hotel-filter-stars [expanded]="starsFilter.expanded" (selectStar)="setFilteredStars($event)"></alm-hotel-filter-stars>
</alm-hotel-filter-section>
