@import "assets/css/icon";
@import "app/shared/styles/colors";
@import "app/shared/styles/buttons";
@import "app/shared/styles/elevation";
@import "app/shared/styles/grid";

body {

  background: #f4f4f4;
  color: $text-color;
}

