@import "colors";

.btn {
  font-weight: bold;
  border-radius: 0;
}

.btn-primary {
  background: $primary-color;
  border-color: $primary-color;
  border-radius: 4px;
  border-bottom: 2px solid darken($primary-color, 5%);

  &:hover {
    background: $primary-color-light;
    border-bottom: 2px solid darken($primary-color-light, 5%);
  }
}
