$grid-breakpoints: '', '-sm', '-md', '-lg', '-xl';
$cols: 12;

@each $breakpoint in $grid-breakpoints {
  @for $col from 1 through $cols {
    .col#{$breakpoint}-#{$col} {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}
