<div class="row">
  <div class="col-12 col-md-6 col-lg-8 d-none d-md-block">
    <div class="form-inline">
      <label class="small font-weight-bold">Elementos por página</label>
      <div class="form-group limit w-25">
        <select class="form-control form-control-sm w-100" [value]="crudManager.limit" (change)="setLimit($event.target.value)">
          <option *ngFor="let limit of limits" [value]="limit">{{limit}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-3 col-lg-2">
    <button class="btn btn-primary btn-sm btn-block float-left" [disabled]="!canPrevious" (click)="previousPage()">Anterior</button>
  </div>
  <div class="col-6 col-md-3 col-lg-2">
    <button class="btn btn-primary btn-sm btn-block float-right" [disabled]="!canNext" (click)="nextPage()">Siguiente</button>
  </div>
</div>
