<div class="mt-3" [@expand]="expanded">
  <div class="form-group">
    <input type="text" class="form-control form-control-sm" placeholder="Ingrese el nombre del hotel" [(ngModel)]="word">
  </div>
  <div class="text-right d-block">
    <button type="button" class="btn btn-primary btn-sm" (click)="search.next(word)">Buscar</button>
  </div>
</div>
