@import "../../../../shared/styles/colors";

$divider-color: #cccccc;

alm-box {

  .info {
    padding: 5px 0;

    img.cover {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .info-content {

      .title {
        color: $title-color;
      }

      alm-icon {
        color: $star-color;
      }

      img.amenity {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      .info-price {
        text-align: center;

        &.divider {
          border-left: 1px dashed $divider-color;

          @media (max-width: 991px) {
            border-left: none;
            border-top: 1px dashed $divider-color;
            padding-top: 10px;
          }
        }

        .info-price-content {
          display: block;

          .subtitle {
            margin: 0 auto;
          }

          @media (min-width: 576px)  {
            button {
              width: 150px !important;
            }
          }

          @media (min-width: 992px) {
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
          }

          & > .price {
            color: $accent-color;
            display: flex;
            justify-content: center;
            flex-direction: row;

            & > .budge {
              font-size: 15px;
              line-height: 35px;
            }

            & > .value {
              margin: 0 5px;
              font-size: 25px;
              line-height: 35px;
            }
          }

        }
      }
    }
  }
}
