<div class="mb-3">
  <alm-box>
    <div class="row info">
      <div class="col-12 col-md-6 col-lg-4">
        <img class="cover" [src]="data.image" [alt]="data.name">
      </div>
      <div class="col-12 col-md-6 col-lg-8 mt-2 mt-md-0">
        <div class="row info-content h-100">
          <div class="col-12 col-lg-7">
            <span class="title">{{data.name}}</span>
            <div>
              <alm-icon icon="star" [repeat]="data.stars"></alm-icon>
            </div>
            <div>
              <img class="amenity" *ngFor="let amenity of amenities" [src]="amenity.url" [alt]="amenity.title" [title]="amenity.title">
            </div>
          </div>
          <div class="col-12 col-lg-5 pb-5 pb-md-0 mt-2 info-price divider">
            <div class="info-price-content">
              <div class="small subtitle">Precio por noche por habitación</div>
              <div class="price">
                <span class="budge">ARS</span><span class="font-weight-bold value">{{data.price}}</span>
              </div>
              <button class="btn btn-primary w-100">Ver hotel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </alm-box>
</div>
