@font-face {
  font-family: 'icomoon';
  src:  url('/assets/css/fonts/icomoon.eot?b20uiw');
  src:  url('/assets/css/fonts/icomoon.eot?b20uiw#iefix') format('embedded-opentype'),
    url('/assets/css/fonts/icomoon.ttf?b20uiw') format('truetype'),
    url('/assets/css/fonts/icomoon.woff?b20uiw') format('woff'),
    url('/assets/css/fonts/icomoon.svg?b20uiw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-star:before {
  content: "\e901";
}
