.main-nav {
  background: radial-gradient(#174587, #093a80);
  border-bottom: 2px solid #315c8c;

  & > img.logo {
    margin: 15px 10px;
    cursor: pointer;
    width: 50%;
    @media (min-width: 768px) {
      width: 20%;
    }
  }
}
