@import "../../../../shared/styles/colors";
@import "title";

.title {

  &.expandable {
    color: $title-color;
    cursor: pointer;

    &:after {
      content: '\25BC';
      margin-left: 10px;
      font-size: 13px;
      line-height: 2;

      float: right;
      @media (min-width: 768px) {
      }
    }

    &.expanded:after {
      content: '\25B2';
    }
  }
}
