<div class="mt-3" [@expand]="expanded">
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="all-stars" [checked]="all" [disabled]="all" (change)="selectAll()">
    <label for="all-stars">Todas las estrellas</label>
  </div>
  <div class="form-check" *ngFor="let star of stars">
    <input type="checkbox" class="form-check-input" id="{{star}}-stars" [checked]="selectedStars[star]" (change)="selectOne($event, star)">
    <label>
      <alm-icon icon="star" [repeat]="star + 1"></alm-icon>
    </label>
  </div>
</div>
