<div class="mobile-filter d-block d-md-none">
  <alm-hotel-filter-section>
    <div class="title" [almExpand]="false" #mobileFilter="almExpand">Filtrar</div>
  </alm-hotel-filter-section>
  <div [@expand]="mobileFilter.expanded">
    <alm-hotel-filter (filter)="setFilter($event)"></alm-hotel-filter>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="filter col-md-4 col-lg-3 d-none d-md-block">
      <alm-box>
        <alm-hotel-filter-section>
          <span class="title">Filtros</span>
        </alm-hotel-filter-section>
        <alm-hotel-filter (filter)="setFilter($event)"></alm-hotel-filter>
      </alm-box>
    </div>
    <div class="col-md-8 col-lg-9">
      <alm-hotel-no-elements *ngIf="!crudManager.items.length && crudManager.dirty"></alm-hotel-no-elements>
      <alm-hotel-list-item *ngFor="let item of crudManager.items" [item]="item"></alm-hotel-list-item>
      <alm-pagination *ngIf="crudManager.items.length" [crudManager]="crudManager"></alm-pagination>
    </div>
  </div>
</div>
