.mobile-filter {
  background: white;
  text-align: left;
  overflow: hidden;
}

.container-fluid {
  width: auto;
  margin: 20px 0;

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}
